<%- include('partials/header') %>
<div class="centerform">
    <form action="/xyz/update" method="POST">
        <input type="text" name="prodId">
        <button type="submit">SEnd</button>
        <!-- <h2 class="formDiv">Edit Product details </h2>
        <div class="form-group">
            <label for="prodId">Enter the Product ID</label>
            <input type="text" name="IDproduct" id="prodId" class="form-control" placeholder="Product ID" required>
        </div> -->

    </form>
</div>



<%- include ('partials/footer') %>