<%- include('partials/header') %>
<div class="idDiv">
    <form action="/xyz/update" method="POST">
        <!-- <input type="text" name="prodId"> -->
        <h2 class="formDiv">Edit Product details </h2>
        <div class="form-group formDiv">
            <label for="prodId" class="">Enter the Product ID</label>
            <input type="text" name="IDproduct" id="prodId" class="form-control" placeholder="Product ID" required>
        </div>
        <div class=" form-group formDiv">
            <button type="submit" class="btn btn-primary">Submit</button>   
        </div>      
    </form>
</div>



<%- include ('partials/footer') %>