<%- include('partials/header') %>

<div class="row mx-5 my-5 rowDiv ">
    <div class="col-md-6 my-5">
        <div class="card colDiv">
            <div class="card-body">
                <h5 class="card-title">New product</h5>
                <p class="card-text">Add a new product to the company's website</p>
                <a href="/xyz/newProduct" class="card-link btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 my-5 rowDiv ">
        <div class="card colDiv">
            <div class="card-body">
                <h5 class="card-title">Update product</h5>
                <p class="card-text">Update an existing product from the website</p>
                <a href="/xyz/update" class="card-link btn btn-primary">Update</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 rowDiv">
        <div class="card colDiv">
            <div class="card-body">
                <h5 class="card-title"> Remove product</h5>
                <p class="card-text">Remove a specific product from the website</p>
                <a href="#" class="card-link btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 rowDiv">
        <div class="card colDiv">
            <div class="card-body">
                <h5 class="card-title">All product</h5>
                <p class="card-text">View all the available products in the website</p>
                <a href="#" class="card-link btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>



<%- include ('partials/footer') %>